<div class="search d-flex justify-content-center">
  <div class="index-title d-flex ">
    <h1 class="my-4" style="font-size: 32px">What's in the shed?</h1>
  </div>
  <div class="search-bar m-4 mx-5">
    <%= form_with url: tools_path, method: :get, data: { turbo_stream: true }, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search...",
            onkeyup: "this.form.querySelector('input[type=submit]').click()"
        %>
      <%= submit_tag "レンtool", name: "", class: "btn btn-outline-success mx-2" %>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render "tools/list", tools: @tools, markers: @markers %>
</div>
