<div style="object-fit: fill; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://as2.ftcdn.net/jpg/01/58/21/39/1000_F_158213963_pzZL2S11s7k6PkDkU8hpEUD8FmDEy78e.jpg)">
  <h2 class="d-flex justify-content-center pt-3">Upload Your tool</h2>
  <div class="row m-0">
    <div class="container w-50">
      <div class="form-control m-3" style="background-color: transparent; border: none; color: white">
        <%= render "form", tool: @tool %>
      </div>
    </div>
  </div>
</div>
