<div class="card-status-wrapper">
  <div class="row">
      <%# Tools I'm Renting %>
      <div class="card-status col-3">
        <p class="card-status-title">Tools I'm Renting</p>
          <%# rental %>
            <% @rentals.each do |rental| %>
            <%= render "shared/rental_card", rental: rental %>
            <% end %>
      </div>

      <%# Available %>
      <div class="card-status col-3">
        <p class="card-status-title">Available</p>
          <%# tool %>
          <% @tools.each do |tool| %>
            <%= render "shared/tool_card", tool: tool %>
          <% end %>
      </div>

      <%# Tools History %>
      <div class="card-status col-3">
        <p class="card-status-title">Tools History</p>
          <%# rental %>
            <% @rentals.each do |rental| %>
            <%= render "shared/rental_card", rental: rental %>
            <% end %>      </div>

      <%# Waiting For Return %>
      <div class="card-status col-3">
        <p class="card-status-title">Waiting For Return</p>
          <%# rental as owner %>
            <% @rentals_as_owner.each do |rental| %>
            <%= render "shared/rental_card", rental: rental %>
            <% end %>
      </div>

    </div>
  </div>
</div>
