<div class="card mb-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%= tool.name %></h5>
    <p class="card-text">Condition: <%= tool.condition %></p>
    <%= link_to "See details", tool_path(tool), class: "btn btn-dark" %>
  </div>
</div>
